* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body {
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-image: url(img/IMG_7256.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar li a {
    border-bottom: 3px solid transparent;
    font-weight: 600;
    transition: all .55s ease;
}

.navbar li a:hover {
    border-bottom: 3px solid white;
}



header {
    position: fixed;
    top: 0;
    background-color: rgba(128, 124, 125, 0.5);
    left: 0;
    width: 100%;
    padding: 0 2rem;
    transition: 0.5s;
    align-items: center;
    z-index: 100;

}

header .sticky {
    background: rgba(128, 124, 125, 0.5);
    box-shadow: 0.1rem 1rem black;
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logot {
    font-size: 20px;
    cursor: pointer;
    transition: scale 0.2s ease;
}



.navbar .logo {
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

header .togglebtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.starthierbtn {

    border-radius: 40px;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    font-size: 0.5px;
    padding: 10px 20px;
    font-weight: 1000;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(7, 66, 140);
    transition: all 1000ms;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    outline: 2px solid rgb(7, 66, 140);


}

.starthierbtn:hover {
    color: #ffffff;
    transform: scale(1.03);
    outline: 2px solid rgb(7, 66, 140);
    box-shadow: 4px 5px 17px -4px rgb(7, 66, 140);
}

.starthierbtn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(7, 66, 140);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.starthierbtn:hover::before {
    width: 250%;
}




.dropdownmenu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgb(7, 66, 140);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdownmenu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownmenu.open {
    height: 260px;
    margin-top: 30px;
}

.dropdownmenu .starthierbtn {
    width: 100%;
    display: flex;
    color: black;
    background-color: white;
    justify-content: center;
}

.home {
    height: 420px
}

.home-content h3,
.home-content h1,
.home-content p,
.socialmedia {
    margin-left: 230px;
    display: flex;
    align-items: center;

}

.homeimg {
    display: inline;
    width: 25%;
    float: right;
    margin-right: 290px;

}


.homeimg:hover {
    scale: 1.07;
}

.home .home-content p {
    max-width: 400px;
}

.home-content h3 {
    font-size: 35px;
    line-height: .3;
    font-weight: 700;

}

.home-content {
    margin-top: 200px;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(7, 66, 140);
}



.socialmedia .socialmedia1 {
    margin-left: 0;
}

.socialmedia a {
    color: rgb(7, 66, 140);
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border: 2px solid rgb(7, 66, 140);
    background-color: transparent;
    border-radius: 180px;
    margin-inline: 15px;
    margin-top: 20px;
    transition: .5s ease;
}

.socialmedia a:hover {
    color: white;
    background-color: rgb(7, 66, 140);
}

.about {
    height: 590px;
    width: 100%;
}



.points-header {
    background-color: rgb(250, 250, 250, 0.9);
    height: 250px;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 100%;

}

.pointstot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    text-align: center;
    justify-content: center;
    grid-gap: 2rem;
    width: 100%;
}



.points-img img {
    max-width: 100%;
    width: 60px;
    color: black;
    margin-bottom: 20px;
}

.points-box p {
    font-weight: 400;
    font-size: 10px;
    max-width: 150px;
    margin-top: 15px;
}


.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.aboutme-content {
    margin-top: 0px;
}

.circle1 {
    max-width: 30%;
    float: left;
    margin-left: 90px;
}

.aboutme-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(7, 66, 140);
}

.aboutmetekst {
    float: right;
    margin-right: 300px;
    margin-top: 60px;
}

.aboutme-content p {
    max-width: 430px;
}

.contactmebtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    margin-top: 25px;
    letter-spacing: 5px;
    margin-left: 6px;
    text-transform: uppercase;
    color: rgb(7, 66, 140);
    transition: all 1000ms;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    outline: 2px solid rgb(7, 66, 140);
}



.contactmebtn:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid rgb(7, 66, 140);
    box-shadow: 4px 5px 17px -4px rgb(7, 66, 140);
}

.contactmebtn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(7, 66, 140);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.contactmebtn:hover::before {
    width: 250%;
}

.services {
    height: 610px;
    background-color: rgb(250, 250, 250, 0.9);

}

.sertitel {
    margin-top: 100px;

}

.sertitel h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(7, 66, 140);
    justify-content: center;
    align-items: center;
    display: flex;

}

.cardservice {
    width: 240px;
    height: 304px;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    color: rgb(7, 66, 140);
    z-index: 2;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 40px;
}

.cardservice::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;

}

.cardservice:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.cardservice,
.cardservice::after {
    box-sizing: border-box;
}

.cardservice:active {
    --border-width: 5px;
}

.servicecards {
    justify-content: center;
    display: flex;
    align-items: center;
}

.cardservice h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 800;
    margin-top: 70px;
}

.cardservice i {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    scale: 2.0;
    color: rgb(7, 66, 140);
}


.cardservice p {
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 250px;
    font-size: 10px;
    font-weight: 400;
    margin-top: 10px;
}


.contact {
    height: 610px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacttext {
    font-size: 50px;
    font-weight: 700;
    color: rgb(7, 66, 140);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;

}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(7, 66, 140);
    color: rgb(7, 66, 140);
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(7, 66, 140);
    cursor: text;
    transition: 0.2s ease;
}

.submitbtn {
    padding: 10px 0;
    color: rgb(7, 66, 140);
    outline: none;
    background: transparent;
    border: 1px solid rgb(7, 66, 140);
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}

.submitbtn:hover {
    color: #ffffff;
    border: 1px solid white;
    background-color: rgb(7, 66, 140);

}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}


.contactrow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactrow1 .input-group {
    flex-basis: 48%;
}



@media only screen and (max-width: 992px) {
    body {
        background-position: right;

    }

    .points-header {
        width: 100%;
    }

    .dropdownmenu.open {
        height: 260px;
        margin-top: 60px;
    }

    .navbar .links,
    .navbar .starthierbtn {
        display: none;
    }

    header .togglebtn {
        display: block;
        float: right;
    }

    .dropdownmenu {
        display: block;
    }

    .home-content h3,
    .home-content h1,
    .home-content p,
    .socialmedia {
        margin-left: 250px;
    }

    .homeimg {
        float: left;
        margin-left: 29px;
        margin-right: 0px;
    }

    .starthierbtn {
        background-color: white;
    }


}

@media only screen and (max-width: 640px) {
    .navbar {
        max-width: 100%;
    }

    .dropdownmenu {
        width: unset;
        left: 2rem;
    }

    body {
        background-position: center;
    }


    .home-content h3 {
        font-size: 25px;


    }

    .dropdownmenu.open {
        height: 260px;
        margin-top: 50px;
    }

    .home-content h3,
    .home-content h1,
    .home-content p,
    .socialmedia {
        margin-left: 25px;
        margin-top: 5px;
    }

    .homeimg {
        float: right;
        margin-right: 45px;
        width: 40%;
        margin-top: 0px;
        display: none;
    }

    .home-content h1 {
        white-space: nowrap;
        width: 400px;
    }

    .home {
        margin-top: 20px;
        height: 250px;
        width: 160%;
    }

    header {
        background-color: rgb(7, 66, 140, 0.7);
        height: 90px;
    }

    .points-header {
        margin-top: 120px;
        width: 160%;
        margin-bottom: 0px;
        margin-right: -100px;
        box-sizing: border-box;

    }

    .about {
        height: 1400px;
        width: 120%;
        margin-top: 0;
        margin-right: -100px;
    }

    .about .sier {
        display: none;
    }

    .pointstot {
        margin-left: 10px;
        display: flex;
        width: 95%;
        grid-gap: 20px;
    }

    .home-content {
        margin-top: 190px;
    }


    .card {
        height: 160px;
        max-width: 24%;
        margin-top: 30px;

    }

    .points-box p {
        display: none;
    }

    .points-box h3 {
        font-size: 16px;
    }

    .points-img img {
        max-width: 100%;
        width: 40px;

    }

    .circle1 {
        max-width: 130%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-top: 0;
        z-index: -1;

    }

    .aboutmetekst {
        margin-right: 0px;
        margin-top: -70px;
        display: block;
        max-width: 100%;
        float: center;
        margin-left: 40px;
    }



    .aboutmetekst p {
        margin-top: 30px;
    }
}