

.left-arrow {
    position: fixed;
    width: 37px;
    margin-top: 80px;
    margin-left: 30px;
    height: auto;
}

.left-arrow:hover {
    /*box-shadow: 10px 10px 80px rgba(5, 93, 157, 0.5);*/
    transform: scale(1.1);
}
.blog_post {
    justify-content: space-between;
    height: auto;
    margin: 50px 20vh;

}
.blog_post_header {
    display: flex;
    flex-direction: row;
}
.blog_post .published{
    font-size: 14px;
    font-family: Arial, sans-serif;

}

.blog_post_content {
    flex: 3;

}

.blog_post > p{
    margin-top: 20px;

}
.blog_post li{
    margin-left: 50px;

    margin-right: 50px;
}

.figma_frame {
    flex: 2;
    text-align: center;
    font-family: Arial, sans-serif;
}

figcaption {
    margin-top: 10px;
}

.figma {
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
 .voorkant_web{
     width: 100%;
     max-width: 1175px;
     height: auto;
     border-radius: 10px;
     margin-left: 10px;
     box-shadow: 0 4px 6px rgba(1, 1, 1, 0.2);
 }

 .voorkant_web_figure figcaption{
     margin-left: -10px;
 }

 .oefensite {
     width: 100%;
     height: auto;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(1, 1, 1, 0.2);
     margin-top: 20px;
 }

@media only screen and (max-width: 1024px)  {
    .blog_post {
        margin: 30px 10vh;
    }

}
@media only screen and (max-width: 640px) {
    .blog_post {
        margin: 30px 3vh;
    }
    .published em{
        font-size: 10px;
    }
    .left-arrow{
        display: none;
    }
    .blog_post_header {
        flex-direction: column; /* Op kleinere schermen: tekst en afbeelding onder elkaar */
        align-items: center; /* Optioneel, om alles te centreren */
    }

    .figma_frame {
        text-align: center; /* Zorg ervoor dat de afbeelding gecentreerd is */
    }

    .blog_post_content {
        text-align: justify; /* Maak de tekst goed leesbaar */
    }

    .blog_post li{
        margin-left: 0;
    }
}