@font-face {
    font-family: 'Monster AG';
    src: url("../assets/fonts/Monster AG.ttf");
}

@font-face {
    font-family: 'Fredoka One';
    src: url("../assets/fonts/Fredoka.ttf");
}

.button {
    margin-top: 20px;
    display: inline-block;
    padding: 7px 18px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Fredoka One, sans-serif;
    color: white;
    background-color: #055D9D;
    text-decoration: none;
    border: 3px solid #055D9D;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
}

.wachtwoord_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.code-container {
    display: flex;
    gap: 15px;
}

.code-box {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: white;
    background-color: transparent;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.code-box:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.wachtwoord_overlay input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
}

.button:hover {
    background-color: #2B2D33;
    border: 3px solid #7BCA7E;
}

body {
    background-color: #FCFAF4;
    margin: 0;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Monster AG", sans-serif;
    font-size: 80px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

p, a {
    font-family: Fredoka One, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: Monster AG, sans-serif;
    font-size: 64px;
}

h3 {
    font-family: "Fredoka One", sans-serif;
    font-size: 30px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 45, 51, 0.7);
    top: 0;
    box-shadow: 0 3px 10px #055D9D;
}

nav img {
    width: 33px;
    height: auto;
    margin-top: 5px;
}

nav .timeline {
    width: 40px;
    height: 33px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #055D9D;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0 30px;
    padding-left: 0;
    width: 100%;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.blog_header {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}

.blog_background1 {
    background-image: url("../assets/images/blog.png");
}

.blog_background2 {
    background-image: url("../assets/images/website_film_voorkant.png");
}

.blog_background3 {
    background-image: url("../assets/images/character1.jpeg");
    background-position: top;
    height: 100vh;
}

.blog_background4 {
    background-image: url("../assets/images/styleguide.png");
}

.overlay {
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.homepage {
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.logo_monster {
    max-width: 100px;
    width: 100%;

}

.homepage img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.homepage h1 {
    text-transform: uppercase;
}

.homepage p {
    width: 80%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #2B2D33;
}

.info img {
    max-width: 200px;
    height: auto;
    margin-left: 150px;
}

.info_text {
    margin: 0 200px;
    color: rgba(255, 255, 255, 0.8);
}

.blog_swiper {
    align-items: center;
    justify-content: center;
    background: linear-gradient(#2B2D33, #055D9D);
    height: 80vh;
    color: white;
    text-align: center;
}

.blog_swiper h2 {
    text-transform: uppercase;
    margin: 0;
}

.swiper_body {
    display: flex;
    height: 70vh;
}

.swiper {
    display: flex;
    margin: 50px;
}

.card-wrapper {
    width: 60vw;
    height: auto;
    text-align: left;
    overflow: hidden;
}

.card-list .card-item .card-link {
    display: block;
    background: #fff;
    padding: 18px;
    user-select: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}



.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372F0;
}

.card-list .card-link .card-image {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.card-list .card-link .badge {
    color: #5372F0;
    width: fit-content;
    padding: 8px 16px;
    font-size: 0.7rem;
    border-radius: 50px;
    font-weight: 500;
    background: #DDE4FF;
    margin: 10px 0;
}

.card-wrapper, .swiper-wrapper, .swiper-slide {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-list .card-link .card-title {
    color: #000;
    font-size: 12px;
}

.card_button {
    font-size: 10px;
    margin: 0;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: white;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: white;
    padding: 50px 40px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 110%;
    }
    .blog_header, .overlay {
        height: 45vh;
    }
    .blog_swiper {
        height: 60vh;
    }
    .card-wrapper {
        margin: 0 10px 25px;
        width: 80vw;
    }
    .info {
        height: 40vh;
    }
    .info_text {
        margin: 0 50px;
    }
    .info img {
        margin-left: 50px;
        max-width: 100px;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 70%;
    }
    h1 {
        font-size: 90%;
    }
    .logo_monster {
        width: 40px;
        margin-bottom: 15px;
    }
    nav {
        height: 50px;
    }
    .info {
        display: block;
    }
    .info img {
        margin-left: 0;
    }
    .swiper-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .swiper-slide {
        flex-basis: 100%;
    }
    .card-wrapper {
        margin: 0 10px 25px;
        height: 360px;
        width: 300px;
    }
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}